body {
    color: white;
    text-align: center;
        background-color: lavender;
}

.title {
    font-size: 40px;
    background-color: purple;
    font-weight: 800;
    padding: 10px;
    border-radius: 60px;
}

.title2 {
    font-size: 40px;
    background-color: blue;
    font-weight: 800;
    padding: 10px;
    border-radius: 60px;
}

.title3 {
    font-size: 40px;
    background-color: darkblue;
    font-weight: 800;
    padding: 10px;
    border-radius: 60px;
}

.title4 {
    font-size: 40px;
    background-color: red;
    font-weight: 800;
    padding: 10px;
    border-radius: 60px;
}

.title5 {
    font-size: 40px;
    background-color: skyblue;
    font-weight: 800;
    padding: 10px;
    border-radius: 60px;
}

.title6 {
    font-size: 40px;
    background-color: pink;
    font-weight: 800;
    padding: 10px;
    border-radius: 60px;
}

.yes-button {
    display: flex;
    justify-content: center;
    padding: 14px 28px;
    font-size: 20px;
    width: 100%;
    background-color: skyblue;
    border-radius: 100px;
}

.no-button {
    display: flex;
    justify-content: center;
    padding: 14px 28px;
    font-size: 20px;
    width: 100%;
    background-color: skyblue;
    border-radius: 100px;
}

p {
    font-size: 30px;
    font-weight: 800;
}


.firstImage {
    height: 350px;
}

.secondImage {
    height: 350px;
}

.thirdImage {
    height: 350px;
}
.fourthImage {
    height: 350px;
}

.fifthImage {
    height: 350px;
}